URL = 'http://www.example.com/'
SAUCE_USERNAME='USERNAME'
SAUCE_ACCESS_KEY='ACCESS_KEY'
TESTRAIL_ENABLE : TRUE
TESTRAIL_HOST : https://testrail.corp.adobe.com/
TESTRAIL_USER : "USERNAME"
TESTRAIL_PASS : "API_KEY"
PROJECT_NAME : Cloud Platform Core Services
PLAN_NAME :
SUITE_NAME: Alloy